// $main-color: blue;

// $small-size: 500px;

// @mixin flex($fd, $jc, $ai) {
//   display: flex;
//   flex-direction: $fd;
//   justify-content: $jc;
//   align-items: $ai;
// }

// %flex-colum {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: space-between;

//   &:hover {
//     background-color: blue;
//   }
// }

// .container {
//   @extend %flex-colum;
//   color: red;

//   img {
//     width: 250px;
//     height: 250px;
//     border-radius: 50%;
//   }

//   &:hover {
//     background-color: blue;
//   }

//   @media screen and (max-width: $small-size) {
//     & {
//       color: green;
//     }
//   }
// }

// .text {
//   color: $main-color;
// }

// @media screen and (max-width: $small-size) {
//   h1 {
//     color: green;
//   }
// }

// .form {
//   @include flex(colum, flex-start, stretch);
// }

// .button {
//   @include flex(row, center, center);
// }

.container {
  display: flex;
  flex-direction: column;
  border: 3px dotted darkblue;
  background-color: coral;

  li {
    margin-top: 10px;
  }
}
